


body{
width:100%;  
height:100%;   
padding:0px;

}


/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    bottom:0;
    right:0;
    
    z-index:13;
  }


  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content:  "\25B6";
    border-radius:60%;
    border:1px black solid;
    -webkit-box-shadow: inset 5px 5px 15px -5px #000000; 
    box-shadow: inset 5px 5px 15px -5px #000000;
    height:10px;
    width:10px;
    display: inline-block;    
    bottom:0;
    right:0;

    
    text-align:center;
    


    
    z-index:14;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(none);
    bottom:0;
    right:0;
    z-index:15;
    
    
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }




  @font-face {
    font-family: emoticons;
    src: url("path/emoticons.woff") format("woff") format("truetype");
  }
  

  
  .POST {position:absolute;
      z-index:10;
  vertical-align:top;}
  
  .USER {position:absolute;
    z-index:9;
    right:0;
    bottom:0;
  
  }
  
  .LINK {position:absolute;
    z-index:10;}
  
  .BACK {position:absolute;
        z-index:-1000;}
  
  .GREEN {position:absolute;}
  
  
  .EM {position:absolute;
      z-index:201;}
  .WD {position:absolute;
      z-index:200;}
  
  .TEST {position:absolute;z-index:100;}
  
      @font-face {
    font-family: emoticons;
    src: url("path/emoticons.woff") format("woff") format("truetype");
  }
  
  


.draggable {position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default;}



.fooditems {transform:scale(1.1);z-index:200000;position:relative;}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


.cake {position: relative;
    left:200px;}

    .cakechild {position:relative;}

    
    .cakerow1sq1 {position:absolute;
    top:0px;
    left:120px;}
    
    .cakerow1sq2 {position:absolute;
    top:0px;
    left:210px}
    
    
    .cakerow2sq1 {position:absolute;
    top:30px;
    left:90px;}
    .cakerow2sq2 {position:absolute;
    top:30px;
    left:120px;}
    .cakerow2sq3 {position:absolute;
    top:30px;
    left:150px;}
    .cakerow2sq4 {position:absolute;
    top:30px;
    left:180px;}
    .cakerow2sq5 {position:absolute;
        top:30px;
        left:210px;}
    .cakerow2sq6 {position:absolute;
        top:30px;
        left:240px;}
    
    
    .cakerow3sq0 {position:absolute;
        top:60px;
        left:60px;}    
    .cakerow3sq1 {position:absolute;
        top:60px;
        left:90px;}
    .cakerow3sq2 {position:absolute;
        top:60px;
        left:120px;}
    .cakerow3sq3 {position:absolute;
        top:60px;
        left:150px;}
    .cakerow3sq4 {position:absolute;
        top:60px;
        left:180px;}
    .cakerow3sq5 {position:absolute;
        top:60px;
        left:210px;}
    .cakerow3sq6 {position:absolute;
        top:60px;
        left:240px;}
    .cakerow3sq7 {position:absolute;
        top:60px;
        left:270px;}
    .cakerow3sq8 {position:absolute;
        top:60px;
        left:300px;}
    .cakerow4sq1 {position:absolute;
        top:30px;
        left:210px;}
    .cakerow4sq2 {position:absolute;
        top:30px;
        left:210px;}
    .cakerow4sq3 {position:absolute;
        top:30px;
        left:210px;}
    .cakerow4sq4 {position:absolute;
        top:30px;
        left:210px;}
    
    
    .cakerow4sq1 {position:absolute;
        top:90px;
        left:30px;}
    .cakerow4sq2 {position:absolute;
        top:90px;
        left:60px;}
    .cakerow4sq3 {position:absolute;
        top:90px;
        left:90px;}
    .cakerow4sq4 {position:absolute;
        top:90px;
        left:120px;}
    .cakerow4sq5 {position:absolute;
        top:90px;
        left:150px;}
    .cakerow4sq6 {position:absolute;
        top:90px;
        left:180px;}
    .cakerow4sq7 {position:absolute;
        top:90px;
        left:210px;}
    .cakerow4sq8 {position:absolute;
        top:90px;
        left:240px;}
    .cakerow4sq9 {position:absolute;
        top:90px;
        left:270px;}
    .cakerow4sq10 {position:absolute;
        top:90px;
        left:300px;}
    .cakerow4sq11 {position:absolute;
        top:90px;
        left:330px;}
    .cakerow4sq12 {position:absolute;
        top:90px;
        left:360px;}
    .cakerow4sq13 {position:absolute;
        top:90px;
        left:360px;}    
    .cakerow4sq14 {position:absolute;
        top:90px;
        left:390px;}    
    .cakerow4sq15 {position:absolute;
        top:90px;
        left:420px;}    
    
    
    .cakerow5sq1 {position:absolute;
        top:120px;
        left:30px;}
    .cakerow5sq2 {position:absolute;
        top:120px;
        left:60px;}
    .cakerow5sq3 {position:absolute;
        top:120px;
        left:90px;}
    .cakerow5sq4 {position:absolute;
        top:120px;
        left:120px;}
    .cakerow5sq5 {position:absolute;
        top:120px;
        left:150px;}
    .cakerow5sq6 {position:absolute;
        top:120px;
        left:180px;}
    .cakerow5sq7 {position:absolute;
        top:120px;
        left:210px;}
    .cakerow5sq8 {position:absolute;
        top:120px;
        left:240px;}
    .cakerow5sq9 {position:absolute;
        top:120px;
        left:270px;}
    .cakerow5sq10 {position:absolute;
        top:120px;
        left:300px;}
    .cakerow5sq11 {position:absolute;
        top:120px;
        left:330px;}
    .cakerow5sq12 {position:absolute;
        top:120px;
        left:360px;}
     .cakerow5sq13 {position:absolute;
        top:120px;
        left:390px;}   
     .cakerow5sq14 {position:absolute;
        top:120px;
        left:420px;}   
    
    
        .cakerow6 {position:relative; top:150px;}
    .cakerow6sq1 {position:absolute;
        left:30px;}
    .cakerow6sq2 {position:absolute;
        left:60px;}
    .cakerow6sq3 {position:absolute;
        left:90px;}
    .cakerow6sq4 {position:absolute;
        left:120px;}
    .cakerow6sq5 {position:absolute;
        left:150px;}
    .cakerow6sq6 {position:absolute;
        left:180px;}
    .cakerow6sq7 {position:absolute;
        left:210px;}
    .cakerow6sq8 {position:absolute;
        left:240px;}
    .cakerow6sq9 {position:absolute;
        left:270px;}
    .cakerow6sq10 {position:absolute;
        left:300px;}
    .cakerow6sq11 {position:absolute;
        left:330px;}
    .cakerow6sq12 {position:absolute;
        left:360px;}
     .cakerow6sq13 {position:absolute;
        left:390px;}   
     .cakerow6sq14 {position:absolute;
        left:420px;}  
     .cakerow6sq15 {position:absolute;
        left:450px;}       
        
    
        .cakerow7 {position:relative; top:180px;}
    .cakerow7sq1 {position:absolute;
        left:30px;}
    .cakerow7sq2 {position:absolute;
        left:60px;}
    .cakerow7sq3 {position:absolute;
        left:90px;}
    .cakerow7sq4 {position:absolute;
        left:120px;}
    .cakerow7sq5 {position:absolute;
        left:150px;}
    .cakerow7sq6 {position:absolute;
        left:180px;}
    .cakerow7sq7 {position:absolute;
        left:210px;}
    .cakerow7sq8 {position:absolute;
        left:240px;}
    .cakerow7sq9 {position:absolute;
        left:270px;}
    .cakerow7sq10 {position:absolute;
        left:300px;}
    .cakerow7sq11 {position:absolute;
        left:330px;}
    .cakerow7sq12 {position:absolute;
        left:360px;}
     .cakerow7sq13 {position:absolute;
        left:390px;} 
     .cakerow7sq14 {position:absolute;
        left:420px;}      
     
    
    
        .cakerow8 {position:relative; top:210px;}
    .cakerow8sq1 {position:absolute;
        left:30px;}
    .cakerow8sq2 {position:absolute;
        left:60px;}
    .cakerow8sq3 {position:absolute;
        left:90px;}
    .cakerow8sq4 {position:absolute;
        left:120px;}
    .cakerow8sq5 {position:absolute;
        left:150px;}
    .cakerow8sq6 {position:absolute;
        left:180px;}
    .cakerow8sq7 {position:absolute;
        left:210px;}
    .cakerow8sq8 {position:absolute;
        left:240px;}
    .cakerow8sq9 {position:absolute;
        left:270px;}
    .cakerow8sq10 {position:absolute;
        left:300px;}
    .cakerow8sq11 {position:absolute;
        left:330px;}
    .cakerow8sq12 {position:absolute;
        left:360px;}
     .cakerow8sq13 {position:absolute;
        left:390px;}  
     .cakerow8sq14 {position:absolute;
        left:420px;}         
    
    
        .cakerow9 {position:relative; top:240px;left:30px;}
        
    .cakerow9sq1 {position:absolute;
        left:30px;}
    .cakerow9sq2 {position:absolute;
        left:60px;}
    .cakerow9sq3 {position:absolute;
        left:90px;}
    .cakerow9sq4 {position:absolute;
        left:120px;}
    .cakerow9sq5 {position:absolute;
        left:150px;}
    .cakerow9sq6 {position:absolute;
        left:180px;}
    .cakerow9sq7 {position:absolute;
        left:210px;}
    .cakerow9sq8 {position:absolute;
        left:240px;}
    .cakerow9sq9 {position:absolute;
        left:270px;}
    .cakerow9sq10 {position:absolute;
        left:300px;}
    .cakerow9sq11 {position:absolute;
        left:330px;}
    .cakerow9sq12 {position:absolute;
        left:360px;}
    .cakerow9sq13 {position:absolute;
        left:390px;}
    
        .cakerow10 {position:relative; top:270px;left:60px;}
    
    .cakerow10sq2 {position:absolute;
        left:60px;}
    .cakerow10sq3 {position:absolute;
        left:90px;}
    .cakerow10sq4 {position:absolute;
        left:120px;}
    .cakerow10sq5 {position:absolute;
        left:150px;}
    .cakerow10sq6 {position:absolute;
        left:180px;}
    .cakerow10sq7 {position:absolute;
        left:210px;}
    .cakerow10sq8 {position:absolute;
        left:240px;}
    .cakerow10sq9 {position:absolute;
        left:270px;}
    .cakerow10sq10 {position:absolute;
        left:300px;}
    .cakerow10sq11 {position:absolute;
        left:330px;}
    .cakerow10sq12 {position:absolute;
        left:360px;}
    .cakerow10sq13 {position:absolute;
        left:390px;}
    
        .cakerow11 {position:relative; top:300px;left:-90px;}
    .cakerow11sq1 {position:absolute;
        left:330px;}
    .cakerow11sq2 {position:absolute;
        left:360px;}
    .cakerow11sq3 {position:absolute;
        left:390px;}





.borger {position:relative;}
    .borgerchild {position:relative;
        top:100px;
        left:600px;}

        .borgerrow1 {position:relative;top:0px;}
        .borgerrow1obj1 {position:absolute;
            left:0px;}
        .borgerrow1obj2 {position:absolute;
            left:30px;}
        .borgerrow1obj3 {position:absolute;
            left:60px;}
        .borgerrow1obj4 {position:absolute;
            left:90px;}
        .borgerrow1obj5 {position:absolute;
            left:120px;}



        .borgerrow2 {position:relative;top:30px;}
        .borgerrow2obj1 {position:absolute;
            left:-30px;}
        .borgerrow2obj2 {position:absolute;
            left:0px;}
        .borgerrow2obj3 {position:absolute;
            left:30px;}
        .borgerrow2obj4 {position:absolute;
            left:60px;}
        .borgerrow2obj5 {position:absolute;
            left:90px;}
        .borgerrow2obj6 {position:absolute;
            left:120px;}
        .borgerrow2obj7 {position:absolute;
            left:150px;}

        .borgerrow3 {position:relative;top:60px;}
        .borgerrow3obj1 {position:absolute;
            left:-60px;}
        .borgerrow3obj2 {position:absolute;
            left:-30px;}
        .borgerrow3obj3 {position:absolute;
            left:0px;}
        .borgerrow3obj4 {position:absolute;
            left:30px;}
        .borgerrow3obj5 {position:absolute;
            left:60px;}
        .borgerrow3obj6 {position:absolute;
            left:90px;}
        .borgerrow3obj7 {position:absolute;
            left:120px;}
        .borgerrow3obj8 {position:absolute;
            left:150px;}
        .borgerrow3obj9 {position:absolute;
            left:180px;}


        .borgerrow4 {position:relative;top:90px;}
        .borgerrow4obj1 {position:absolute;
            left:-60px;}
        .borgerrow4obj2 {position:absolute;
            left:-30px;}
        .borgerrow4obj3 {position:absolute;
            left:0px;}
        .borgerrow4obj4 {position:absolute;
            left:30px;}
        .borgerrow4obj5 {position:absolute;
            left:60px;}
        .borgerrow4obj6 {position:absolute;
            left:90px;}
        .borgerrow4obj7 {position:absolute;
            left:120px;}
        .borgerrow4obj8 {position:absolute;
            left:150px;}
        .borgerrow4obj9 {position:absolute;
            left:180px;}
        
        .borgerrow5 {position:relative;top:120px;}
        .borgerrow5obj1 {position:absolute;
            left:-60px;}
        .borgerrow5obj2 {position:absolute;
            left:-30px;}
        .borgerrow5obj3 {position:absolute;
            left:0px;}
        .borgerrow5obj4 {position:absolute;
            left:30px;}
        .borgerrow5obj5 {position:absolute;
            left:60px;}
        .borgerrow5obj6 {position:absolute;
            left:90px;}
        .borgerrow5obj7 {position:absolute;
            left:120px;}
        .borgerrow5obj8 {position:absolute;
            left:150px;}
        .borgerrow5obj9 {position:absolute;
            left:180px;}
        

        .borgerrow6 {position:relative;top:150px;}
        .borgerrow6obj1 {position:absolute;
            left:-60px;}
        .borgerrow6obj2 {position:absolute;
            left:-30px;}
        .borgerrow6obj3 {position:absolute;
            left:0px;}
        .borgerrow6obj4 {position:absolute;
            left:30px;}
        .borgerrow6obj5 {position:absolute;
            left:60px;}
        .borgerrow6obj6 {position:absolute;
            left:90px;}
        .borgerrow6obj7 {position:absolute;
            left:120px;}
        .borgerrow6obj8 {position:absolute;
            left:150px;}


        .borgerrow7 {position:relative;top:180px;}
        .borgerrow7obj1 {position:absolute;
            left:-60px;}
        .borgerrow7obj2 {position:absolute;
            left:-30px;}
        .borgerrow7obj3 {position:absolute;
            left:0px;}
        .borgerrow7obj4 {position:absolute;
            left:30px;}
        .borgerrow7obj5 {position:absolute;
            left:60px;}
        .borgerrow7obj6 {position:absolute;
            left:90px;}
        .borgerrow7obj7 {position:absolute;
            left:120px;}
        .borgerrow7obj8 {position:absolute;
            left:150px;}


        .borgerrow8 {position:relative;top:210px;}
        .borgerrow8obj1 {position:absolute;
            left:-60px;}
        .borgerrow8obj2 {position:absolute;
            left:-30px;}
        .borgerrow8obj3 {position:absolute;
            left:0px;}
        .borgerrow8obj4 {position:absolute;
            left:30px;}
        .borgerrow8obj5 {position:absolute;
            left:60px;}
        .borgerrow8obj6 {position:absolute;
            left:90px;}
        .borgerrow8obj7 {position:absolute;
            left:120px;}
        .borgerrow8obj8 {position:absolute;
            left:150px;}


        .borgerrow9 {position:relative;top:240px;}
        .borgerrow9obj1 {position:absolute;
            left:-60px;}
        .borgerrow9obj2 {position:absolute;
            left:-30px;}
        .borgerrow9obj3 {position:absolute;
            left:0px;}
        .borgerrow9obj4 {position:absolute;
            left:30px;}
        .borgerrow9obj5 {position:absolute;
            left:60px;}
        .borgerrow9obj6 {position:absolute;
            left:90px;}
        .borgerrow9obj7 {position:absolute;
            left:120px;}
        .borgerrow9obj8 {position:absolute;
            left:150px;}

        .borgerrow10 {position:relative;top:270px;}
        .borgerrow10obj1 {position:absolute;
            left:-60px;}
        .borgerrow10obj2 {position:absolute;
            left:-30px;}
        .borgerrow10obj3 {position:absolute;
            left:0px;}
        .borgerrow10obj4 {position:absolute;
            left:30px;}
        .borgerrow10obj5 {position:absolute;
            left:60px;}
        .borgerrow10obj6 {position:absolute;
            left:90px;}
        .borgerrow10obj7 {position:absolute;
            left:120px;}
        .borgerrow10obj8 {position:absolute;
            left:150px;}


.lemonade{position:relative;
    top:100px;
    left:500px;}

    .lemonchild{position:relative;}

    .straw {position:relative;
        top:0px;
        left:120px;}

        .lemonrow1sq1{position:absolute;
            top:0px;}
        .lemonrow1sq2{position:absolute;
        top:30px;}
        .lemonrow1sq3{position:absolute;
        top:60px;
        left:-30px;}
        .lemonrow1sq4{position:absolute;
        top:60px;}
        .lemonrow1sq5{position:absolute;
        top:90px;
        left:-30px;}
        .lemonrow1sq6{position:absolute;
        top:90px;}
        .lemonrow1sq7{position:absolute;
        top:120px;
        left:-30px;}
        .lemonrow1sq8{position:absolute;
        top:150px;
        left:-30px;}
        .lemonrow1sq9{position:absolute;
        top:180px;
        left:-30px;}


        .lemonrow2 {position:relative;
            top:210px;
            left:60px;}
    
            .lemonrow2sq1{position:absolute;
            left:-30px;}
            .lemonrow2sq2{position:absolute;
            left:0px;}
            .lemonrow2sq3{position:absolute;
            left:30px;}
            .lemonrow2sq4{position:absolute;
            left:60px;}
            .lemonrow2sq5{position:absolute;
            left:90px;}
            .lemonrow2sq6{position:absolute;
            left:120px;}
            .lemonrow2sq7{position:absolute;
            left:150px;}


        .lemonrow3 {position:relative;
            top:240px;
            left:60px;}
    
            .lemonrow3sq1{position:absolute;
            left:-30px;}
            .lemonrow3sq2{position:absolute;
            left:0px;}
            .lemonrow3sq3{position:absolute;
            left:30px;}
            .lemonrow3sq4{position:absolute;
            left:60px;}
            .lemonrow3sq5{position:absolute;
            left:90px;}
            .lemonrow3sq6{position:absolute;
            left:120px;}
            .lemonrow3sq7{position:absolute;
            left:150px;}
            .lemonrow3sq8{position:absolute;
            left:180px;}
            
        .lemonrow4 {position:relative;
            top:270px;
            left:60px;}
    
            .lemonrow4sq1{position:absolute;
            left:-30px;}
            .lemonrow4sq2{position:absolute;
            left:0px;}
            .lemonrow4sq3{position:absolute;
            left:30px;}
            .lemonrow4sq4{position:absolute;
            left:60px;}
            .lemonrow4sq5{position:absolute;
            left:90px;}
            .lemonrow4sq6{position:absolute;
            left:120px;}
            .lemonrow4sq7{position:absolute;
            left:150px;}
            .lemonrow4sq8{position:absolute;
            left:180px;}     


        .lemonrow5 {position:relative;
            top:300px;
            left:60px;}
    
            .lemonrow5sq1{position:absolute;
            left:-30px;}
            .lemonrow5sq2{position:absolute;
            left:0px;}
            .lemonrow5sq3{position:absolute;
            left:30px;}
            .lemonrow5sq4{position:absolute;
            left:60px;}
            .lemonrow5sq5{position:absolute;
            left:90px;}
            .lemonrow5sq6{position:absolute;
            left:120px;}
            .lemonrow5sq7{position:absolute;
            left:150px;}            

        .lemonrow6 {position:relative;
            top:330px;
            left:60px;}
    
            .lemonrow6sq1{position:absolute;
            left:-30px;}
            .lemonrow6sq2{position:absolute;
            left:0px;}
            .lemonrow6sq3{position:absolute;
            left:30px;}
            .lemonrow6sq4{position:absolute;
            left:60px;}
            .lemonrow6sq5{position:absolute;
            left:90px;}
            .lemonrow6sq6{position:absolute;
            left:120px;}
            .lemonrow6sq7{position:absolute;
            left:150px;}            

        .lemonrow7 {position:relative;
            top:360px;
            left:60px;}
    
            .lemonrow7sq1{position:absolute;
            left:-30px;}
            .lemonrow7sq2{position:absolute;
            left:0px;}
            .lemonrow7sq3{position:absolute;
            left:30px;}
            .lemonrow7sq4{position:absolute;
            left:60px;}
            .lemonrow7sq5{position:absolute;
            left:90px;}
            .lemonrow7sq6{position:absolute;
            left:120px;}
            .lemonrow7sq7{position:absolute;
            left:150px;}     
            
            
        .lemonrow8 {position:relative;
            top:390px;
            left:60px;}
    
            .lemonrow8sq1{position:absolute;
            left:-30px;}
            .lemonrow8sq2{position:absolute;
            left:0px;}
            .lemonrow8sq3{position:absolute;
            left:30px;}
            .lemonrow8sq4{position:absolute;
            left:60px;}
            .lemonrow8sq5{position:absolute;
            left:90px;}
            .lemonrow8sq6{position:absolute;
            left:120px;}
            .lemonrow8sq7{position:absolute;
            left:150px;}     

            
        .lemonrow9 {position:relative;
            top:420px;
            left:60px;}
    
            .lemonrow9sq1{position:absolute;
            left:-30px;}
            .lemonrow9sq2{position:absolute;
            left:0px;}
            .lemonrow9sq3{position:absolute;
            left:30px;}
            .lemonrow9sq4{position:absolute;
            left:60px;}
            .lemonrow9sq5{position:absolute;
            left:90px;}
            .lemonrow9sq6{position:absolute;
            left:120px;}
            .lemonrow9sq7{position:absolute;
            left:150px;}  
            
        .lemonrow10 {position:relative;
            top:450px;
            left:60px;}
    
            .lemonrow10sq1{position:absolute;
            left:-30px;}
            .lemonrow10sq2{position:absolute;
            left:0px;}
            .lemonrow10sq3{position:absolute;
            left:30px;}
            .lemonrow10sq4{position:absolute;
            left:60px;}
            .lemonrow10sq5{position:absolute;
            left:90px;}
            .lemonrow10sq6{position:absolute;
            left:120px;}
            .lemonrow10sq7{position:absolute;
            left:150px;}  

        .lemonrow11 {position:relative;
            top:480px;
            left:90px;}
    
            .lemonrow11sq1{position:absolute;
            left:-30px;}
            .lemonrow11sq2{position:absolute;
            left:0px;}
            .lemonrow11sq3{position:absolute;
            left:30px;}
            .lemonrow11sq4{position:absolute;
            left:60px;}
            .lemonrow11sq5{position:absolute;
            left:90px;}

        .lemonrow12 {position:relative;
            top:510px;
            left:90px;}
    
            .lemonrow12sq1{position:absolute;
            left:-30px;}
            .lemonrow12sq2{position:absolute;
            left:0px;}
            .lemonrow12sq3{position:absolute;
            left:30px;}
            .lemonrow12sq4{position:absolute;
            left:60px;}
            .lemonrow12sq5{position:absolute;
            left:90px;}


        .lemonrow13 {position:relative;
            top:540px;
            left:90px;}
    
            .lemonrow13sq1{position:absolute;
            left:-30px;}
            .lemonrow13sq2{position:absolute;
            left:0px;}
            .lemonrow13sq3{position:absolute;
            left:30px;}
            .lemonrow13sq4{position:absolute;
            left:60px;}
            .lemonrow13sq5{position:absolute;
            left:90px;}


        .lemonrow14 {position:relative;
            top:570px;
            left:90px;}
    
            .lemonrow14sq1{position:absolute;
            left:-30px;}
            .lemonrow14sq2{position:absolute;
            left:0px;}
            .lemonrow14sq3{position:absolute;
            left:30px;}
            .lemonrow14sq4{position:absolute;
            left:60px;}
            .lemonrow14sq5{position:absolute;
            left:90px;}


.fishy {position:relative;
    top:300px;
    left:200px}
    .fishychild {position:relative;}
    

        .fishyrow1{position:relative;
        top:120px;
        left:120px;}

        .fishyrow1obj1 {position:absolute;
            left:60px;}
        .fishyrow1obj2 {position:absolute;
            left:90px;}
        .fishyrow1obj3 {position:absolute;
            left:150px;}



        .fishyrow2{position:relative;
        top:150px;
        left:120px;}

        .fishyrow2obj1 {position:absolute;
            left:60px;}
        .fishyrow2obj2 {position:absolute;
            left:90px;}
        .fishyrow2obj3 {position:absolute;
            left:120px;}
        .fishyrow2obj4 {position:absolute;
            left:150px;}
        .fishyrow2obj5 {position:absolute;
            left:180px;}
    


        .fishyrow3{position:relative;
        top:180px;
        left:120px;}

        .fishyrow3obj1 {position:absolute;
            left:60px;}
        .fishyrow3obj2 {position:absolute;
            left:90px;}
        .fishyrow3obj3 {position:absolute;
            left:120px;}
        .fishyrow3obj4 {position:absolute;
            left:150px;}
        .fishyrow3obj5 {position:absolute;
            left:180px;}

        .fishyrow4{position:relative;
        top:210px;
        left:120px;}
        .fishyrow4obj1 {position:absolute;
            left:120px;}
        .fishyrow4obj2 {position:absolute;
            left:150px;}
        .fishyrow4obj3 {position:absolute;
            left:180px;}
        .fishyrow4obj4 {position:absolute;
            left:210px;}
    
        .fishyrow5{position:relative;
        top:240px;
        left:120px;}
        .fishyrow5obj1 {position:absolute;
            left:120px;}
        .fishyrow5obj2 {position:absolute;
            left:150px;}
        .fishyrow5obj3 {position:absolute;
            left:180px;}
        .fishyrow5obj4 {position:absolute;
            left:210px;}

        .fishyrow6{position:relative;
        top:270px;
        left:120px;}
        .fishyrow6obj1 {position:absolute;
            left:120px;}
        .fishyrow6obj2 {position:absolute;
            left:150px;}
        .fishyrow6obj3 {position:absolute;
            left:180px;}
        .fishyrow6obj4 {position:absolute;
            left:210px;}

        .fishyrow7{position:relative;
        top:300px;
        left:90px;}
        .fishyrow7obj1 {position:absolute;
            left:120px;}
        .fishyrow7obj2 {position:absolute;
            left:150px;}
        .fishyrow7obj3 {position:absolute;
            left:180px;}
        .fishyrow7obj4 {position:absolute;
            left:210px;}
        .fishyrow7obj5 {position:absolute;
            left:240px;}
    

        .fishyrow8{position:relative;
        top:330px;
        left:90px;}
        .fishyrow8obj1 {position:absolute;
            left:120px;}
        .fishyrow8obj2 {position:absolute;
            left:150px;}
        .fishyrow8obj3 {position:absolute;
            left:180px;}
        .fishyrow8obj4 {position:absolute;
            left:210px;}
        .fishyrow8obj5 {position:absolute;
            left:240px;}

        .fishyrow9{position:relative;
        top:360px;
        left:90px;}
        .fishyrow9obj1 {position:absolute;
            left:120px;}
        .fishyrow9obj2 {position:absolute;
            left:150px;}
        .fishyrow9obj3 {position:absolute;
            left:180px;}
        .fishyrow9obj4 {position:absolute;
            left:210px;}
        .fishyrow9obj5 {position:absolute;
            left:240px;}


        .fishyrow10{position:relative;
        top:390px;
        left:90px;}
        .fishyrow10obj1 {position:absolute;
            left:120px;}
        .fishyrow10obj2 {position:absolute;
            left:150px;}
        .fishyrow10obj3 {position:absolute;
            left:180px;}
        .fishyrow10obj4 {position:absolute;
            left:210px;}

        .fishyrow11{position:relative;
        top:420px;
        left:60px;}
        .fishyrow11obj1 {position:absolute;
            left:120px;}
        .fishyrow11obj2 {position:absolute;
            left:150px;}
        .fishyrow11obj3 {position:absolute;
            left:180px;}
        .fishyrow11obj4 {position:absolute;
            left:210px;}
        .fishyrow11obj5 {position:absolute;
            left:240px;}


        .fishyrow12{position:relative;
        top:450px;
        left:60px;}
        .fishyrow12obj1 {position:absolute;
            left:120px;}
        .fishyrow12obj2 {position:absolute;
            left:150px;}
        .fishyrow12obj3 {position:absolute;
            left:180px;}
        .fishyrow12obj4 {position:absolute;
            left:210px;}

        .fishyrow13{position:relative;
        top:480px;
        left:60px;}
        .fishyrow13obj1 {position:absolute;
            left:120px;}
        .fishyrow13obj2 {position:absolute;
            left:150px;}
        .fishyrow13obj3 {position:absolute;
            left:180px;}
    

        .fishyrow14{position:relative;
        top:510px;
        left:60px;}
        .fishyrow14obj1 {position:absolute;
            left:120px;}
        .fishyrow14obj2 {position:absolute;
            left:150px;}

        .fishyrow15{position:relative;
        top:540px;
        left:60px;}
        .fishyrow15obj1 {position:absolute;
            left:120px;}
        .fishyrow15obj2 {position:absolute;
            left:150px;}

        .stick{position:relative;
        top:570px;
        left:60px;}
        .fishyrow16obj1 {position:absolute;
            left:120px;}
        .fishyrow16obj2 {position:absolute;
            left:120px;
            top:30px;}
        .fishyrow16obj3 {position:absolute;
            left:120px;
            top:60px;}
        .fishyrow16obj4 {position:absolute;
            left:90px;
            top:90px;}
        .fishyrow16obj5 {position:absolute;
            left:120px;
            top:90px;}
        .fishyrow16obj6 {position:absolute;
            left:90px;
            top:120px;}
        .fishyrow16obj7 {position:absolute;
            left:120px;
            top:120px;}
            
  


  
  
  
  
  
  
.pizza {position:relative;
    top:300px;
    left:200px}


        .pizzarow1 {position:relative;
        top:120px;
        left:150px;}

        .pizzarow1obj1 {position:absolute;
        left:0px;}
        .pizzarow1obj2 {position:absolute;
        left:30px;}
        .pizzarow1obj3 {position:absolute;
        left:60px;}
        .pizzarow1obj4 {position:absolute;
        left:90px;}
        .pizzarow1obj5 {position:absolute;
        left:120px;}
        .pizzarow1obj6 {position:absolute;
        left:150px;}
        .pizzarow1obj7 {position:absolute;
        left:180px;}
        .pizzarow1obj8 {position:absolute;
        left:210px;}
        .pizzarow1obj9 {position:absolute;
        left:240px;}
            


        .pizzarow2 {position:relative;
        top:150px;
        left:90px;}

        .pizzarow2obj1 {position:absolute;
        left:0px;}
        .pizzarow2obj2 {position:absolute;
        left:30px;}
        .pizzarow2obj3 {position:absolute;
        left:60px;}
        .pizzarow2obj4 {position:absolute;
        left:90px;}
        .pizzarow2obj5 {position:absolute;
        left:120px;}
        .pizzarow2obj6 {position:absolute;
        left:150px;}
        .pizzarow2obj7 {position:absolute;
        left:180px;}
        .pizzarow2obj8 {position:absolute;
        left:210px;}
        .pizzarow2obj9 {position:absolute;
        left:240px;}
        .pizzarow2obj10 {position:absolute;
        left:270px;}
        .pizzarow2obj11 {position:absolute;
        left:300px;}
            
        .pizzarow3 {position:relative;
        top:180px;
        left:30px;}

        .pizzarow3obj1 {position:absolute;
        left:0px;}
        .pizzarow3obj2 {position:absolute;
        left:30px;}
        .pizzarow3obj3 {position:absolute;
        left:60px;}
        .pizzarow3obj4 {position:absolute;
        left:90px;}
        .pizzarow3obj5 {position:absolute;
        left:120px;}
        .pizzarow3obj6 {position:absolute;
        left:150px;}
        .pizzarow3obj7 {position:absolute;
        left:180px;}
        .pizzarow3obj8 {position:absolute;
        left:210px;}
        .pizzarow3obj9 {position:absolute;
        left:240px;}
        .pizzarow3obj10 {position:absolute;
        left:270px;}
        .pizzarow3obj11 {position:absolute;
        left:300px;}
        .pizzarow3obj12 {position:absolute;
        left:330px;}
        .pizzarow3obj13 {position:absolute;
        left:360px;}
            

        .pizzarow4 {position:relative;
        top:210px;
        left:0px;}

        .pizzarow4obj1 {position:absolute;
        left:0px;}
        .pizzarow4obj2 {position:absolute;
        left:30px;}
        .pizzarow4obj3 {position:absolute;
        left:60px;}
        .pizzarow4obj4 {position:absolute;
        left:90px;}
        .pizzarow4obj5 {position:absolute;
        left:120px;}
        .pizzarow4obj6 {position:absolute;
        left:150px;}
        .pizzarow4obj7 {position:absolute;
        left:180px;}
        .pizzarow4obj8 {position:absolute;
        left:210px;}
        .pizzarow4obj9 {position:absolute;
        left:240px;}
        .pizzarow4obj10 {position:absolute;
        left:270px;}
        .pizzarow4obj11 {position:absolute;
        left:300px;}
        .pizzarow4obj12 {position:absolute;
        left:330px;}
        .pizzarow4obj13 {position:absolute;
        left:360px;}
        .pizzarow4obj14 {position:absolute;
        left:390px;}
            
        .pizzarow5 {position:relative;
        top:240px;
        left:0px;}

        .pizzarow5obj1 {position:absolute;
        left:0px;}
        .pizzarow5obj2 {position:absolute;
        left:30px;}
        .pizzarow5obj3 {position:absolute;
        left:60px;}
        .pizzarow5obj4 {position:absolute;
        left:90px;}
        .pizzarow5obj5 {position:absolute;
        left:120px;}
        .pizzarow5obj6 {position:absolute;
        left:150px;}
        .pizzarow5obj7 {position:absolute;
        left:180px;}
        .pizzarow5obj8 {position:absolute;
        left:210px;}
        .pizzarow5obj9 {position:absolute;
        left:240px;}
        .pizzarow5obj10 {position:absolute;
        left:270px;}
        .pizzarow5obj11 {position:absolute;
        left:300px;}
        .pizzarow5obj12 {position:absolute;
        left:330px;}
        .pizzarow5obj13 {position:absolute;
        left:360px;}

            .pizzarow6 {position:relative;
        top:270px;
        left:0px;}

        .pizzarow6obj1 {position:absolute;
        left:0px;}
        .pizzarow6obj2 {position:absolute;
        left:30px;}
        .pizzarow6obj3 {position:absolute;
        left:60px;}
        .pizzarow6obj4 {position:absolute;
        left:90px;}
        .pizzarow6obj5 {position:absolute;
        left:120px;}
        .pizzarow6obj6 {position:absolute;
        left:150px;}
        .pizzarow6obj7 {position:absolute;
        left:180px;}
        .pizzarow6obj8 {position:absolute;
        left:210px;}
        .pizzarow6obj9 {position:absolute;
        left:240px;}
        .pizzarow6obj10 {position:absolute;
        left:270px;}
        .pizzarow6obj11 {position:absolute;
        left:300px;}



            .pizzarow7 {position:relative;
        top:300px;
        left:0px;}

        .pizzarow7obj1 {position:absolute;
        left:0px;}
        .pizzarow7obj2 {position:absolute;
        left:30px;}
        .pizzarow7obj3 {position:absolute;
        left:60px;}
        .pizzarow7obj4 {position:absolute;
        left:90px;}
        .pizzarow7obj5 {position:absolute;
        left:120px;}
        .pizzarow7obj6 {position:absolute;
        left:150px;}
        .pizzarow7obj7 {position:absolute;
        left:180px;}
        .pizzarow7obj8 {position:absolute;
        left:210px;}
        .pizzarow7obj9 {position:absolute;
        left:240px;}
        .pizzarow7obj10 {position:absolute;
        left:270px;}
        .pizzarow7obj11 {position:absolute;
        left:300px;}


            .pizzarow8 {position:relative;
        top:330px;
        left:-30px;}

        .pizzarow8obj1 {position:absolute;
        left:0px;}
        .pizzarow8obj2 {position:absolute;
        left:30px;}
        .pizzarow8obj3 {position:absolute;
        left:60px;}
        .pizzarow8obj4 {position:absolute;
        left:90px;}
        .pizzarow8obj5 {position:absolute;
        left:120px;}
        .pizzarow8obj6 {position:absolute;
        left:150px;}
        .pizzarow8obj7 {position:absolute;
        left:180px;}
        .pizzarow8obj8 {position:absolute;
        left:210px;}
        .pizzarow8obj9 {position:absolute;
        left:240px;}
        .pizzarow8obj10 {position:absolute;
        left:270px;}
        .pizzarow8obj11 {position:absolute;
        left:300px;}


        .pizzarow9 {position:relative;
        top:360px;
        left:-30px;}

        .pizzarow9obj1 {position:absolute;
        left:0px;}
        .pizzarow9obj2 {position:absolute;
        left:30px;}
        .pizzarow9obj3 {position:absolute;
        left:60px;}
        .pizzarow9obj4 {position:absolute;
        left:90px;}
        .pizzarow9obj5 {position:absolute;
        left:120px;}
        .pizzarow9obj6 {position:absolute;
        left:150px;}
        .pizzarow9obj7 {position:absolute;
        left:180px;}
        .pizzarow9obj8 {position:absolute;
        left:210px;}
        .pizzarow9obj9 {position:absolute;
        left:240px;}
        .pizzarow9obj10 {position:absolute;
        left:270px;}


        .pizzarow10 {position:relative;
        top:360px;
        left:-30px;}

        .pizzarow10obj1 {position:absolute;
        left:0px;}
        .pizzarow10obj2 {position:absolute;
        left:30px;}
        .pizzarow10obj3 {position:absolute;
        left:60px;}
        .pizzarow10obj4 {position:absolute;
        left:90px;}
        .pizzarow10obj5 {position:absolute;
        left:120px;}
        .pizzarow10obj6 {position:absolute;
        left:150px;}
        .pizzarow10obj7 {position:absolute;
        left:180px;}
        .pizzarow10obj8 {position:absolute;
        left:210px;}
        .pizzarow10obj9 {position:absolute;
        left:240px;}
        .pizzarow10obj10 {position:absolute;
        left:270px;}



        .pizzarow11 {position:relative;
        top:390px;
        left:-30px;}

        .pizzarow11obj1 {position:absolute;
        left:0px;}
        .pizzarow11obj2 {position:absolute;
        left:30px;}
        .pizzarow11obj3 {position:absolute;
        left:60px;}
        .pizzarow11obj4 {position:absolute;
        left:90px;}
        .pizzarow11obj5 {position:absolute;
        left:120px;}
        .pizzarow11obj6 {position:absolute;
        left:150px;}
        .pizzarow11obj7 {position:absolute;
        left:180px;}
        .pizzarow11obj8 {position:absolute;
        left:210px;}
        .pizzarow11obj9 {position:absolute;
        left:240px;}


        .pizzarow12 {position:relative;
        top:420px;
        left:-30px;}

        .pizzarow12obj1 {position:absolute;
        left:0px;}
        .pizzarow12obj2 {position:absolute;
        left:30px;}
        .pizzarow12obj3 {position:absolute;
        left:60px;}
        .pizzarow12obj4 {position:absolute;
        left:90px;}
        .pizzarow12obj5 {position:absolute;
        left:120px;}
        .pizzarow12obj6 {position:absolute;
        left:150px;}
        .pizzarow12obj7 {position:absolute;
        left:180px;}
        .pizzarow12obj8 {position:absolute;
        left:210px;}
        .pizzarow12obj9 {position:absolute;
        left:240px;}

        .pizzarow13 {position:relative;
        top:450px;
        left:-30px;}

        .pizzarow13obj1 {position:absolute;
        left:0px;}
        .pizzarow13obj2 {position:absolute;
        left:30px;}
        .pizzarow13obj3 {position:absolute;
        left:60px;}
        .pizzarow13obj4 {position:absolute;
        left:90px;}
        .pizzarow13obj5 {position:absolute;
        left:120px;}
        .pizzarow13obj6 {position:absolute;
        left:150px;}
        .pizzarow13obj7 {position:absolute;
        left:180px;}
        .pizzarow13obj8 {position:absolute;
        left:210px;}

        .pizzarow14 {position:relative;
        top:480px;
        left:-30px;}

        .pizzarow14obj1 {position:absolute;
        left:0px;}
        .pizzarow14obj2 {position:absolute;
        left:30px;}
        .pizzarow14obj3 {position:absolute;
        left:60px;}
        .pizzarow14obj4 {position:absolute;
        left:90px;}
        .pizzarow14obj5 {position:absolute;
        left:120px;}
        .pizzarow14obj6 {position:absolute;
        left:150px;}
        .pizzarow14obj7 {position:absolute;
        left:180px;}



        .pizzarow15 {position:relative;
        top:510px;
        left:-30px;}

        .pizzarow15obj1 {position:absolute;
        left:0px;}
        .pizzarow15obj2 {position:absolute;
        left:30px;}
        .pizzarow15obj3 {position:absolute;
        left:60px;}
        .pizzarow15obj4 {position:absolute;
        left:90px;}
        .pizzarow15obj5 {position:absolute;
        left:120px;}
        .pizzarow15obj6 {position:absolute;
        left:150px;}


        .pizzarow16 {position:relative;
        top:540px;
        left:-30px;}

        .pizzarow16obj1 {position:absolute;
        left:0px;}
        .pizzarow16obj2 {position:absolute;
        left:30px;}
        .pizzarow16obj3 {position:absolute;
        left:60px;}
        .pizzarow16obj4 {position:absolute;
        left:90px;}
        .pizzarow16obj5 {position:absolute;
        left:120px;}

        .pizzarow17 {position:relative;
        top:570px;
        left:-30px;}

        .pizzarow17obj1 {position:absolute;
        left:0px;}
        .pizzarow17obj2 {position:absolute;
        left:30px;}
        .pizzarow17obj3 {position:absolute;
        left:60px;}
        .pizzarow17obj4 {position:absolute;
        left:90px;}

        .pizzarow18 {position:relative;
        top:600px;
        left:-30px;}

        .pizzarow18obj1 {position:absolute;
        left:0px;}
        .pizzarow18obj2 {position:absolute;
        left:30px;}
        .pizzarow18obj3 {position:absolute;
        left:60px;}



        .pizzarow19 {position:relative;
        top:630px;
        left:-30px;}
    
        .pizzarow19obj1 {position:absolute;
        left:0px;}


        marquee {
            white-space: nowrap;
            width: 100vw;
            height:auto;
            color: rgb(255, 0, 221);
            overflow:visible;
   z-index:-10;
        }
